/* To display the border around the bars in "Area1" */
/* .main-svg {
    border: 1px solid black;  
} */
.heavy{
    font: bold 17px sans-serif;
}
.axis {
    font: bold 20px sans-serif;
}

.thp_text {
    font: bold 17px sans-serif;
}

.button_text {
    font: bold 15px sans-serif;
}