/* To display the border around the bars in "Area1" */
/* .main-svg {
    border: 1px solid black;  
} */
.heavy{
    font: bold 22px sans-serif;
}
.axis {
    font: bold 21px sans-serif;
}

.thp_text {
    font: bold 22px sans-serif;
}

.button_text {
    font: bold 18px sans-serif;
}